@using HR_System.Models;

@{
    ViewBag.Title = "DetailSalaryStandard";
    SalaryStandard salaryStandard = ViewData["salaryStandardView"] as SalaryStandard;
}

<h1 class="text-center">Detail Of SalaryStandard</h1>
<br />
<br />
<div class="container col-lg-8" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/" class="form-inline" style="text-align: center">

        <!--第1行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardFileNumber">薪酬标准编号</label>
            <input readonly type="text" class="form-control" id="StandardFileNumber" placeholder="StandardFileNumber" value="@salaryStandard.StandardFileNumber">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardName">薪酬标准名称</label>
            <input readonly type="text" class="form-control" id="StandardName" placeholder="StandardName" value="@salaryStandard.StandardName">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="Total">总金额</label>
            <input readonly type="text" class="form-control" id="Total" placeholder="Total" value="￥@salaryStandard.Total">
        </div>

        <br />
        <br />

        <!--第2行内容-->
        <div class="form-group input-group-lg" style="width:45%">
            <label for="Registrant">登记人</label>
            <input readonly type="text" class="form-control" id="Registrant" placeholder="Registrant" value="@salaryStandard.Registrant">
        </div>
        <div class="form-group input-group-lg" style="width:45%">
            <label for="RegistTime">登记时间</label>
            <input readonly type="text" class="form-control" id="RegistTime" placeholder="RegistTime" value="@salaryStandard.RegistTime.ToString()">
        </div>

        <br />
        <br />

        <!--第3行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="DesignBy">制定人</label>
            <input readonly type="text" class="form-control" id="DesignBy" placeholder="DesignBy" value="@salaryStandard.DesignBy">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardState">审核状态</label>
            <input readonly type="text" class="form-control" id="StandardState" placeholder="StandardState" value="@salaryStandard.StandardState">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="CheckBy">审核人</label>
            <input readonly type="text" class="form-control" id="CheckBy" placeholder="CheckBy" value="@salaryStandard.CheckBy">
        </div>

        <br />
        <br />

        <!--第4行内容-->
        <div class="form-group input-group-lg" style="width:90%">
            <label for="CheckDesc">审核备注</label>
            <textarea readonly rows="10" id="CheckDesc" class="form-control" style="resize:none" maxlength="150">@salaryStandard.CheckDesc</textarea>
        </div>

        <br />
        <br />

        <h4>以下是该标准下的详细项目</h4>

        <!--薪酬项目内容-->
        @foreach (var item in salaryStandard.ItemAmout)
        {

            <div class="form-group input-group-lg" style="width:30%">
                <label for="ItemValue">@item.Key.Name</label>
                <input readonly type="text" class="form-control" id="ItemValue" placeholder="ItemValue" value="￥@item.Value">
            </div>

        }

        <br />
        <br />

        <!--提交按钮和重置按钮-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
        <div class="form-group">
            <button type="reset" class="btn btn-default form-control">Reset</button>
        </div>
    </form>
</div>

