@using HR_System.Models;

@{
    ViewBag.Title = "DetailSalaryStandard";
    SalaryStandard salaryStandard = ViewData["salaryStandardView"] as SalaryStandard;
}

<h1 class="text-center">Detail Of SalaryStandard</h1>
<br />
<br />
<div class="container col-lg-8" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/" class="form-inline" style="text-align: center">

        <!--第1行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardFileNumber">薪酬标准编号</label>
            <input readonly type="text" class="form-control" id="StandardFileNumber" placeholder="StandardFileNumber" value="@salaryStandard.StandardFileNumber">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardName">薪酬标准名称</label>
            <input readonly type="text" class="form-control" id="StandardName" placeholder="StandardName" value="@salaryStandard.StandardName">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="Total">总金额</label>
            <input readonly type="text" class="form-control" id="Total" placeholder="Total" value="￥@salaryStandard.Total">
        </div>

        <br />
        <br />

        <!--第2行内容-->
        <div class="form-group input-group-lg" style="width:45%">
            <label for="Registrant">登记人</label>
            <input readonly type="text" class="form-control" id="Registrant" placeholder="Registrant" value="@salaryStandard.Registrant">
        </div>
        <div class="form-group input-group-lg" style="width:45%">
            <label for="RegistTime">登记时间</label>
            <input readonly type="text" class="form-control" id="RegistTime" placeholder="RegistTime" value="@salaryStandard.RegistTime.ToString()">
        </div>

        <br />
        <br />

        <!--第3行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="DesignBy">制定人</label>
            <input readonly type="text" class="form-control" id="DesignBy" placeholder="DesignBy" value="@salaryStandard.DesignBy">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardState">审核状态</label>
            <input readonly type="text" class="form-control" id="StandardState" placeholder="StandardState" value="@salaryStandard.StandardState">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="CheckBy">审核人</label>
            <input readonly type="text" class="form-control" id="CheckBy" placeholder="CheckBy" value="@salaryStandard.CheckBy">
        </div>

        <br />
        <br />

        <!--第4行内容-->
        <div class="form-group input-group-lg" style="width:90%">
            <label for="CheckDesc">审核备注</label>
            <textarea readonly rows="10" id="CheckDesc" class="form-control" style="resize:none" maxlength="150">@salaryStandard.CheckDesc</textarea>
        </div>

        <br />
        <br />

        <h4>以下是该标准下的详细项目</h4>

        <!--薪酬项目内容-->
        @foreach (var item in salaryStandard.ItemAmout)
        {

            <div class="form-group input-group-lg" style="width:30%">
                <label for="ItemValue">@item.Key.Name</label>
                <input readonly type="text" class="form-control" id="ItemValue" placeholder="ItemValue" value="￥@item.Value">
            </div>

        }

        <br />
        <br />

        <h4>以下是适用该标准的职位</h4>

        <!--职位内容-->
        @foreach (var o in salaryStandard.OccList)
        {
            <div class="form-group input-group-lg" style="width:45%">
                <label for="@o.Name">职位名称</label>
                <input readonly type="text" class="form-control" id="@o.Name" placeholder="OccName" value="@o.Name">
            </div>
            <div class="form-group input-group-lg" style="width:45%">
                <label for="@o.OccupationClass.Name">所属职位类型</label>
                <input readonly type="text" class="form-control" id="@o.OccupationClass.Name" placeholder="OccClassName" value="@o.OccupationClass.Name">
            </div>
        }


        <br />
        <br />

        <!--选项按钮-->
        <div class="form-group">
            @Html.ActionLink("编辑", "EditSalaryStandard", "StandardManage", new { id = salaryStandard.Id }, new { @class = "btn btn-warning" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger" onclick="Delete(@salaryStandard.Id, '@salaryStandard.StandardName', 'DeleteSalaryStandard')" data-toggle="modal" data-target="#deleteModal">删除</button>
        </div>
        <div class="form-group">
            @Html.ActionLink("返回", "SalaryStandardManage", "SalaryManage", new { }, new { @class = "btn btn-default" })
        </div>
    </form>
</div>










<!--删除对话框-->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                <p id="deleteTip" style="font-size:16px"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a id="requestBtn" href="#" class="btn btn-primary">确定</a>
            </div>
        </div>
    </div>
</div>

@if (TempData["info"] != null)
{
    <script>alert('@TempData["info"]');</script>
}
@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}


<script>
    function Delete(id, name, action) {
        //console.log(id);
        $("#deleteTip").html("是否删除" + name + "?");
        $("#requestBtn").attr("href", "/StandardManage/" + action + "/" + id);
    }
</script>

