@using HR_System.Models;
@using HR_System.Util;

@{
    ViewBag.Title = "EditSalaryStandard";
    SalaryStandard salaryStandard = ViewData["salaryStandardView"] as SalaryStandard;
    List<SalaryItem> itemList = ViewData["itemList"] as List<SalaryItem>;
    List<OccupationName> occNameList = ViewData["occNameList"] as List<OccupationName>;
    List<OccupationClass> occClassListView = ViewData["occClassListView"] as List<OccupationClass>;
    LoginUser loginUser = Session["loginUser"] as LoginUser;
}

<h1 class="text-center">EditSalaryStandard</h1>
<br />
<br />
<div class="container col-lg-8" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/StandardManage/SaveStandard" class="form-inline" style="text-align: center">

        <input type="hidden" name="Id" value="@salaryStandard.Id" />

        <!--第1行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardFileNumber">薪酬标准编号</label>
            <input readonly type="text" class="form-control" id="StandardFileNumber" name="StandardFileNumber" placeholder="StandardFileNumber" value="@salaryStandard.StandardFileNumber">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardName">薪酬标准名称</label>
            <input type="text" class="form-control" id="StandardName" name="StandardName" placeholder="StandardName" value="@salaryStandard.StandardName">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="Total">总金额</label>
            <input readonly type="text" class="form-control" id="Total" name="Total" placeholder="Total" value="@salaryStandard.Total">
        </div>

        <br />
        <br />

        <!--第2行内容-->
        <div class="form-group input-group-lg" style="width:45%">
            <label for="Registrant">登记人</label>
            <input type="text" class="form-control" id="Registrant" name="Registrant" placeholder="Registrant" value="@salaryStandard.Registrant">
        </div>
        <div class="form-group input-group-lg" style="width:45%">
            <label for="RegistTime">登记时间</label>
            <input readonly type="text" class="form-control" id="RegistTime" name="RegistTime" placeholder="RegistTime" value="@salaryStandard.RegistTime.ToString()">
        </div>

        <br />
        <br />

        <!--第3行内容-->
        <div class="form-group input-group-lg" style="width:30%">
            <label for="DesignBy">制定人</label>
            <input type="text" class="form-control" id="DesignBy" name="DesignBy" placeholder="DesignBy" value="@salaryStandard.DesignBy">
        </div>
        <div class="form-group input-group-lg" style="width:30%">
            <label for="StandardState">审核状态</label>
            <input readonly type="text" class="form-control" id="StandardState" name="StandardState" placeholder="StandardState" value="@salaryStandard.StandardState">
        </div>
        @if (ViewBag.Function != "CheckedStandard")
        {
            <div class="form-group input-group-lg" style="width:30%">
                <label for="CheckBy">审核人</label>
                <input readonly type="text" class="form-control" id="CheckBy" name="CheckBy" placeholder="CheckBy" value="@salaryStandard.CheckBy">
            </div>
        }
        else
        {
            <div class="form-group input-group-lg" style="width:30%">
                <label for="CheckBy">审核人</label>
                <input type="text" class="form-control" id="CheckBy" name="CheckBy" placeholder="CheckBy" value="@loginUser.Username">
            </div>
        }

        <br />
        <br />

        <!--第4行内容-->
        @if (ViewBag.Function != "CheckedStandard")
        {
            <div class="form-group input-group-lg" style="width:90%">
                <label for="CheckDesc">审核备注</label>
                <textarea readonly rows="10" id="CheckDesc" name="CheckDesc" class="form-control" style="resize:none" maxlength="150">@salaryStandard.CheckDesc</textarea>
            </div>
        }
        else
        {
            <div class="form-group input-group-lg" style="width:90%">
                <label for="CheckDesc">审核备注</label>
                <textarea rows="10" id="CheckDesc" name="CheckDesc" class="form-control" style="resize:none" maxlength="150"></textarea>
            </div>
        }

        <br />
        <br />

        <h4>以下是所有的薪酬项目</h4>

        <script>
            var arr = new Array();
            var arrnotnull = new Array();
        </script>

        <!--薪酬项目内容-->
        @foreach (var item in itemList)
        {

            if (salaryStandard.ItemAmout.Keys.Contains(item))
            {
                <div class="form-group input-group-lg" style="width:30%">
                    <input type="checkbox" name="ItemCheckbox" checked value="@item.Id" /><label for="ItemValue">@item.Name</label>
                    <input oninput="valueChange('@("#input" + item.Id)')" type="text" class="form-control" id="@("input" + item.Id)" name="@("value" + item.Id)" placeholder="ItemValue" value="@salaryStandard.ItemAmout[item]">
                </div>
                <script>arr.push(@item.Id)</script>
                continue;
            }
            if (item.Id >= 7 && item.Id <= 10)
            {
                <div class="form-group input-group-lg" style="width:30%">
                    <input type="checkbox" name="ItemCheckbox" checked value="@item.Id" /><label for="ItemValue">@item.Name</label>
                    <input oninput="valueChange('@("#input" + item.Id)')" type="text" class="form-control" id="@("input" + item.Id)" name="@("value" + item.Id)" placeholder="ItemValue" readonly>
                </div>
                continue;
            }
            <div class="form-group input-group-lg" style="width:30%">
                <input type="checkbox" name="ItemCheckbox" value="@item.Id" /><label for="ItemValue">@item.Name</label>
                <input oninput="valueChange('@("#input" + item.Id)')" type="text" class="form-control" id="@("input" + item.Id)" name="@("value" + item.Id)" placeholder="ItemValue">
            </div>

            <script>arr.push(@item.Id)</script>

        }

        <br />
        <br />


        <h4>以下是适用该标准的职位</h4>

        @{ int i = 0; }

        <!--职位内容-->
        @foreach (var o in salaryStandard.OccList)
        {
            @*<input type="hidden" name="@("eOcc" + i)" value="@o.Id" />*@

            <div class="form-group input-group-lg" style="width:45%">
                <label for="@("occName" + i)">职位名称</label>
                @*<input readonly type="text" class="form-control" id="@o.Name" placeholder="OccName" value="@o.Name">*@
                <select class="form-control" required id="@("occName" + i)" name="@("occName" + i)">
                    @foreach (var on in occNameList)
                    {
                        if (on.OccupationClass.Id == o.OccupationClass.Id)
                        {
                            if (on.Id == o.Id)
                            {
                                <option value="@on.Id" selected>@on.Name</option>
                                continue;
                            }
                            <option value="@on.Id">@on.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group input-group-lg" style="width:45%">
                <label for="@("occClass" + i)">所属职位类型</label>
                @*<input readonly type="text" class="form-control" id="@o.OccupationClass.Name" placeholder="OccClassName" value="@o.OccupationClass.Name">*@
                <select class="form-control" required id="@("occClass" + i)" onchange="change('@("occClass" + i)', '@("occName" + i)')" name="@("occClass" + i)">
                    @foreach (var oc in occClassListView)
                    {
                        if (oc.Id == o.OccupationClass.Id)
                        {
                            <option value="@oc.Id" selected>@oc.Name</option>
                            continue;
                        }
                        <option value="@oc.Id">@oc.Name</option>
                    }
                </select>
            </div>

            <br />
            <br />
            i++;
        }

        <!--隐藏域，用于说明已经存在数据库的映射关系的数量-->
        @*<input type="hidden" id="eCount" name="eCount" value="@salaryStandard.OccList.Count" />*@

        @for (int j = salaryStandard.OccList.Count; j < 3; j++)
        {
            <div class="form-group input-group-lg" style="width:45%">
                <label for="@("occName" + j)">职位名称</label>
                @*<input readonly type="text" class="form-control" id="@o.Name" placeholder="OccName" value="@o.Name">*@
                <select class="form-control" required id="@("occName" + j)" name="@("occName" + j)">
                    <option value="0">请选择...</option>
                    @foreach (var on in occNameList)
                    {
                        
                            <option value="@on.Id">@on.Name</option>
                        
                    }
                </select>
            </div>
            <div class="form-group input-group-lg" style="width:45%">
                <label for="@("occClass" + j)">所属职位类型</label>
                <select class="form-control" required id="@("occClass" + j)" onchange="change('@("occClass" + j)', '@("occName" + j)')" name="@("occClass" + j)">
                    <option value="0">请选择...</option>
                    @foreach (var oc in occClassListView)
                    {
                        <option value="@oc.Id">@oc.Name</option>
                    }
                </select>
            </div>
            <br />
            <br />
        }


        <br />
        <br />

        <!--选项按钮-->
        @if (ViewBag.Function != "CheckedStandard")
        {
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger" onclick="Delete(@salaryStandard.Id, '@salaryStandard.StandardName', 'DeleteSalaryStandard')" data-toggle="modal" data-target="#deleteModal">删除</button>
            </div>
        }
        else
        {

            <input type="hidden" name="StandardChecked" value="Checked" />

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="复核" />
            </div>
        }
        <div class="form-group">
            <div class="form-group">
                <a class="btn btn-default" href="@Request.UrlReferrer.AbsoluteUri">返回</a>
            </div>
        </div>
    </form>
</div>


<script>
    function change(id, childrenId) {
        console.log($("#" + id).val());
        console.log($("#" + childrenId).val());
        $.post("/OccupationSettings/DynamicOccName", { "id": $("#" + id).val() }, function (data) {
            $("#" + childrenId).html("");
            $.each(data, function (i, o) {
                console.log(o['Id']);
                console.log(o.Name);
                $("#" + childrenId).append($("<option value='" + o.Id + "'>" + o.Name + "</option>"));
            });
        });
    }

    function valueChange(id) {
        var total = 0;
        for (var i = 0; i < arr.length; i++) {
            var n = parseInt(arr[i]);
            if ($("#input" + n).val() != "" && n != 2) {
                total += parseFloat($("#input" + n).val());
            }
            if (n == 2) {
                total += (parseFloat($("#input" + n).val()) * 1.185 + 3);
            }
        }
        $("#Total").val(total);
    }

    $("#input2").on('input', function () {
        $("#input7").val(parseFloat($("#input2").val()) * 0.08);
        $("#input8").val(parseFloat($("#input2").val()) * 0.02 + 3);
        $("#input9").val(parseFloat($("#input2").val()) * 0.005);
        $("#input10").val(parseFloat($("#input2").val()) * 0.08);
    });

</script>










<!--删除对话框-->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Warning</h4>
            </div>
            <div class="modal-body">
                <p id="deleteTip" style="font-size:16px"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a id="requestBtn" href="#" class="btn btn-primary">确定</a>
            </div>
        </div>
    </div>
</div>

@if (TempData["info"] != null)
{
    <script>alert('@TempData["info"]');</script>
}
@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}


<script>
    function Delete(id, name, action) {
        //console.log(id);
        $("#deleteTip").html("是否删除" + name + "?");
        $("#requestBtn").attr("href", "/StandardManage/" + action + "/" + id);
    }
</script>