@using HR_System.Models;

@{
    ViewBag.Title = "StaffCheck";
    List<Staff> staffListView = ViewData["staffListView"] as List<Staff>;
}

<!--所有员工档案-->
<h1 class="text-center">StaffCheck</h1>
<h2>待复核档案</h2>

<div class="container-fluid">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>档案编号</th>
            <th>员工姓名</th>
            <th>I级机构</th>
            <th>II级机构</th>
            <th>III级机构</th>
            <th>职位</th>
            <th>档案状态</th>
            <th>选项</th>
        </tr>
        @foreach (var s in staffListView)
        {
            <tr>
                <td>@s.StaffFileNumber</td>
                <td>@s.StaffName</td>
                <td>@s.FirstOrg.OrgName</td>
                <td>@s.SecondeOrg.OrgName</td>
                <td>@s.ThirdOrg.OrgName</td>
                <td>@s.OccupationName.Name</td>
                <td>@s.FileState</td>
                <td>@Html.ActionLink("复核", "StaffCheckedDetail", "StaffManage", new { id = s.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>
</div>


@if (TempData["info"] != null)
{
    <script>alert('@TempData["info"]');</script>
}
@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}

