@using HR_System.Models;

@{
    ViewBag.Title = "SalaryPaymentView";
    List<SalaryPayment> list = ViewData["salaryPaymentList"] as List<SalaryPayment>;
}

<h1 class="text-center">SalaryPaymentView</h1>
<h2>所有薪酬</h2>


<div class="container-fluid">


    <br />
    <form method="post" action="/SalaryManage/PaymentSearch" class="form-inline" style="text-align: center">
        <div class="form-group" style="width: 12%">
            <label for="state">薪酬单状态</label>
            <select class="form-control" name="State" id="state">
                <option value="10">请选择状态...</option>
                <option value="0">WaitReg</option>
                <option value="1">WaitCheck</option>
                <option value="2">Checked</option>
            </select>
        </div>
        <div class="form-group" style="width: 36%">
            <label for="begin">发放起始日期</label>
            <input type="date" placeholder="begin" class="form-control" id="begin" value="@Request["BeginDate"]" name="BeginDate" />
        </div>
        <div class="form-group" style="width: 36%">
            <label for="end">发放截至日期</label>
            <input type="date" placeholder="end" class="form-control" id="end" value="@Request["EndDate"]" name="EndDate" />
        </div>
        <div class="form-group" style="width: 6%">
            <label></label>
            <input type="submit" class="form-control btn btn-success" value="搜索" />
        </div>
    </form>


    <br />
    <br />




    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>薪酬发放单编号</th>
            <th>I级机构</th>
            <th>II级机构</th>
            <th>III级机构</th>
            <th>人数</th>
            <th>基本薪酬总额</th>
            <th>状态</th>
            <th>选项</th>
        </tr>
        @foreach (var sp in list)
        {
            <tr>
                <td>@sp.FileNumber</td>
                <td>@sp.ThirdOrg.ParentOrg.ParentOrg.OrgName</td>
                <td>@sp.ThirdOrg.ParentOrg.OrgName</td>
                <td>@sp.ThirdOrg.OrgName</td>
                <td>@sp.TotalPerson</td>
                <td>@sp.TotalAmout</td>
                <td>@sp.FileState</td>
                <td>@Html.ActionLink("详情", "SalaryPaymentDetail", "SalaryManage", new { id = sp.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </table>

    @if (list.Count < 1)
    {
        <h3 class="text-center">没有薪酬单</h3>
    }

</div>


@if (TempData["info"] != null)
{
    <script>alert('@TempData["info"]');</script>
}
@if (TempData["error"] != null)
{
    <script>alert('@TempData["error"]');</script>
}

