@using HR_System.Models;

@{ 
    LoginUser loginUser = Session["loginUser"] as LoginUser;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HR_System</title>
    @Styles.Render("~/Content/bootstrapinputcss")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HR-System", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (loginUser.RoleLevel == EnumState.RoleLevelEnum.StaffNormal || loginUser.RoleLevel == EnumState.RoleLevelEnum.StaffManager || loginUser.RoleLevel == EnumState.RoleLevelEnum.SystemManager)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">档案管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("档案查看", "StaffView", "StaffManage")</li>
                                <li>@Html.ActionLink("档案登记", "StaffRegist", "StaffManage")</li>
                                @if (loginUser.RoleLevel == EnumState.RoleLevelEnum.StaffManager || loginUser.RoleLevel == EnumState.RoleLevelEnum.SystemManager)
                                {
                                    <li>@Html.ActionLink("档案复核", "StaffCheck", "StaffManage")</li>
                                }
                                <li>@Html.ActionLink("已删档案", "StaffViewDeleted", "StaffManage")</li>
                            </ul>
                        </li>
                    }
                    @if (loginUser.RoleLevel == EnumState.RoleLevelEnum.SalaryNormal || loginUser.RoleLevel == EnumState.RoleLevelEnum.SalaryManager || loginUser.RoleLevel == EnumState.RoleLevelEnum.SystemManager)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">薪酬管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("薪酬标准", "SalaryStandardManage", "SalaryManage")</li>
                                <li>@Html.ActionLink("薪酬发放", "SalaryGrant", "SalaryManage")</li>
                                <li>@Html.ActionLink("薪酬登记", "SalaryPaymentWaitReg", "SalaryGrantManage")</li>
                                <li>@Html.ActionLink("所有薪酬", "SalaryPaymentView", "SalaryManage")</li>
                                @if (loginUser.RoleLevel == EnumState.RoleLevelEnum.SalaryManager || loginUser.RoleLevel == EnumState.RoleLevelEnum.SystemManager)
                                {
                                    <li>@Html.ActionLink("标准复核", "StandardCheck", "SalaryManage")</li>
                                    <li>@Html.ActionLink("薪酬复核", "SalaryPaymentWaitCheck", "SalaryGrantManage")</li>
                                }
                            </ul>
                        </li>
                    }
                    @if (loginUser.RoleLevel == EnumState.RoleLevelEnum.SystemManager)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统设置<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("机构设置", "OrgSettings", "Settings")</li>
                                <li>@Html.ActionLink("职位设置", "OccupationSettings", "Settings")</li>
                                <li>@Html.ActionLink("职称设置", "TitleSettings", "Settings")</li>
                                <li>@Html.ActionLink("薪酬项目", "SalaryItemSettings", "Settings")</li>
                            </ul>
                        </li>
                    }
                </ul>

                @if (Session["loginUser"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">当前用户&nbsp;:&nbsp;@loginUser.Username</a></li>
                        <li><a href="#">当前权限&nbsp;:&nbsp;@loginUser.RoleLevel.ToString()</a></li>
                        <li>@Html.ActionLink("退出", "Logout", "Login")</li>
                    </ul>
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <footer class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">
                <p style="text-align:center;padding:10px">&copy; @DateTime.Now.Year - HR-System&nbsp;&nbsp;&nbsp;Power By TjSanshao</p>
            </div>
        </footer>
    </div>
</body>
</html>
